<!--process: 
-create hash and get the graph number (-1) to show one graph
-calculate Tstress, Tstrain, Pstrain 
-plot Tstress, pstrain and its derivative 
-have the user select a necking point
-->
<% graph = create_hash(Rails.root.to_s.concat("/public").concat(@dpm.filename.url)) %>

<% trial = Marshal.load(Marshal.dump(graph[@dpm.graph_number - 1])) %>

<% graph = []%>
<% new_trial = rounder(tp_strain(trial, @dpm.youngs_modulus), 4) %>
<% maxMin = getMaxMin(new_trial) %>
<% derivative = deriv(new_trial) %>
<% graph << new_trial %>
<% graph << derivative %>
<% intersections = intersection(new_trial, derivative, 0.2)%>
<%= intersections %>
<strong>STEP 2:Filename:</strong>
<p>
<%= maxMin %>

<%= line_chart graph.map.with_index {|ea, i| {:name => i+1, :data => ea}}, {discrete: true, library: {pointSize: 0, title: "Tstress vs. Pstrain", vAxis: { viewWindow:{ max:maxMin[0]*1.1, min:maxMin[1]}}}}%>
</p>

<%= form_for(@dpm, :url => step2_path(:id => @dpm.id), :method => 'put') do |f| %>
  <% if @dpm.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dpm.errors.count, "error") %> prohibited this dpm from being saved:</h2>

      <ul>
      <% @dpm.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p><%= intersections %></p>
  <div class="field">
  	<%= f.label :necking_point %><br>
    <%= f.number_field :necking_point, :step => 'any' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Edit', edit_dpm_path(@dpm) %> |
<%= link_to 'Back', dpms_path %>
