<p id="notice"><%= notice %></p>
<p>
  <strong>Filename:</strong>
  <%= @testfile.filename %>
  <%= link_to File.basename(@testfile.filename.url), @testfile.filename_url %>
</p>

<p>
  <strong>Type:</strong>
  <%= @testfile.file_type %>
</p>
<p>
  <strong>Material:</strong>
  <%= @testfile.mat_name %>
</p>

<%= link_to 'Search Materials', materials_path  %> |

