	<p>Enter the gaugelength(nm):</p> <%= text_field_tag 'gaugelength' %>
	<p>Enter Youngs Modulus(GPa):	</p><%= text_field_tag 'youngs_modulus' %>
	<p>Please select a file to be uploaded:</p> <%= file_field 'filename', 'text' %></p>
	<br>
	<div class="actions">
		<%=button_tag(type: 'button') do content_tag(:strong, 'Proceed') end %>
	</div>
	<br><br>
	<br><br>
	<h5>Step <%=@step_start%> of <%=@step_end%></h5>
